.todos-table {
    font-size: large;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.todo-td > a {
    color: rgb(67, 67, 255);
    text-decoration: none;
    transition: 0.3s ease-out;
}

.todo-td > a:hover {
    color: black;
}

.todos-table > thead {
    background-color: rgb(219, 217, 217);
    color: rgb(80, 80, 80);
}

.todo-th,
.todo-td{
    border-bottom: 1px solid rgb(133, 133, 133);
    padding: 15px 0;
    width: 25%;
    max-width: 25%;
    height: 35px;
    max-height: 35px;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}