.todos-table {
    font-size: large;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

td, th, tr {
    border-collapse: collapse;
    border-bottom: 1px solid;
    padding: 25px 0;
}

.todos-table td,
.todos-table th {
    width: 25%;
}