:root {
  --blue: rgb(74, 42, 255);
  --yellow: rgb(242, 255, 59);
}

* {
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.page-header {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 2em;
  background: linear-gradient(145deg, var(--blue), var(--yellow));
  box-shadow: 0 5px 10px -5px black;
}

.toggle-grid-button {
  position: relative;
  top: 10px;
  right: 10px;
  float: right;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-out;
  background: transparent;
}

.toggle-grid-button:hover {
  transform: rotate(90deg);
}

.toggle-grid-button:active {
  transform: scale(1.5);
}

.table-wrapper {
  width: 80%;
  margin: 0 auto;
}

.create-todo-wrapper {
  width: 40%;
  margin: 0 auto;
}

.content {
  clear: both;
  padding: 50px 0;
}

.grid-wrapper {
  max-width: 100vw;
}